* {
    margin: 0;
    padding: 0;
}


/* 头部 */
header {
    width: 100%;
    height: 5rem;
    background-color: #ff8a00;
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
}

header .box {
    width: 30%;
    height: 100%;
}

.box img {
    width: 100%;
}

.box2 {
    height: 100%;
}

.box2 img {
    width: 100%;
    height: 100%;
}

.box1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* banner部分 */
.banner {
    width: 100%;
    position: relative;
}

.banner img {
    width: 100%;
}

.banner form {
    position: absolute;
    bottom: 1rem;
    left: 3.5rem;
}

.spa {
    width: 2rem;
    height: 3rem;
    position: absolute;
    background: url(../../image/index/seach.jpg) no-repeat .4rem .7rem;
    background-size: 100%;
}

.ipt {
    width: 28.9rem;
    height: 3.5rem;
    border-radius: .6rem;
    padding-left: 1.33rem;
    outline: none;
    padding: 0 4rem;
    box-sizing: border-box;
}

/* 中间*/
.zhongjian {
    width: 100%;
    height: 14rem;
    background-color: #ff8a00;
}

.zhongjian ul {
    display: flex;
    height: 100%;
    justify-content: space-around;
    list-style: none;
    font-size: 1.6rem;
}

.zhongjian ul li {
    width: 7rem;
    height: 100%;
    text-align: center;

}

.zhongjian ul li:nth-of-type(1) {
    background: url(../../image/index/index_03.png)no-repeat 0rem 2rem;
    background-size: 100%;
}

.zhongjian ul li:nth-of-type(2) {
    background: url(../../image/index/index_05.png)no-repeat 0rem 2rem;
    background-size: 100%;
}

.zhongjian ul li:nth-of-type(3) {
    background: url(../../image/index/index_07.png)no-repeat 0rem 2rem;
    background-size: 100%;
}

.zhongjian ul li:nth-of-type(4) {
    background: url(../../image/index/index_09.png)no-repeat 0rem 2rem;
    background-size: 100%;
}



.zhongjian ul li a {
    display: inline-block;
    padding-top: 10rem;
    box-sizing: border-box;
    text-decoration: none;
    color: white;

}

/*看房咨询 */
.list {
    padding: 2rem 0;
    width: 100%;
    background-color: rgb(245, 245, 245);

}

.list img {
    width: 100%;
}

/* 热门推荐 */
.listone {
    width: 100%;
    padding: 1.5rem 2rem;
    box-sizing: border-box;
    color: white;
    background-color: #ff8a00;
}

.listone span:nth-of-type(1) {
    font-size: 2rem;
}

.listone span:nth-of-type(2) {
    font-size: 1.2rem;
}

.listtwo {
    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;

}

.listqq {
    list-style: none;
}

.listqq li {
    height: 10rem;
    display: flex;
    justify-content: space-around;
    border-bottom: .1rem solid red;
    padding: 3rem 0;
}

.listqq li:nth-of-type(3) {
    border-bottom: none;
}

.listqq li img {
    height: 100%;
}

.text1 {
    width: 60%;
}

.text1 h3 {
    font-size: 2.4rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text1 p {
    padding: .5rem 0;
}

.text1 p:nth-of-type(2) {
    color: grey;
}

.text1 p:nth-of-type(1) span {
    float: right;
    color: #ff8a00;
    font-size: 1.6rem;

}

.text1 p:nth-of-type(2) span {
    float: right;
    font-size: 1.6rem;
    /* color: #ff8a00; */
}


.text1 p a {
    text-decoration: none;
    color: #849aae;
    padding: .3rem;
    font-size: 1.4rem;
    background: #f4f7f9;
}

/* 热门关注 */
.oo {
    background-color: rgba(213, 211, 211, 0.5);
    height: 1rem;
}

.lithree {
    width: 100%;
}

.title {
    list-style: none;
    display: flex;
    justify-content: space-between;
    line-height: 6rem;
}

.title li {
    width: 50%;
    text-align: center;
    border-bottom: .1rem solid #ff8a00;
}

.title li a {
    text-decoration: none;
    color: #ff8a00;
    font-size: 2rem;
}

.tt a {
    color: rgb(40, 40, 40) !important;
}

.re {
    border-bottom: .2rem solid #ff8a00 !important;

}

/* 热关下面 */
.three {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.three ul {
    padding: 2rem;
    box-sizing: border-box;
    list-style: none;
}

.three ul li {
    padding: 1rem 0;
}

.three ul a {
    text-decoration: none;
    color: gray;
    font-size: 1.4rem;
}

/* 透明盒子 */
.dr {
    width: 100%;
    height: 6rem;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
}

.close {
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;

}

.divflet {
    width: 60%;
    height: 100%;
    display: flex;
    padding: 1rem 0;
    box-sizing: border-box;
    justify-content: space-around;
    margin-left: 2.5rem;
}

.divflet1 img {
    width: 4rem;
}

.divflet2 {
    color: white;
    margin-top: -.8rem;
}

.divflet2 p {
    font-size: 2.2rem;
}

.divflet2 span {
    font-size: 1.4rem;
}

.divright {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff8a00;
}

.divright a {
    margin-left: 2rem;

    text-decoration: none;
    color: white;
    font-size: 2rem;
}

/* 底部 */
footer {
    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
    background-color: rgb(47, 49, 48);
    color: gray;
}

footer h2 {
    font-size: 1.6rem;
    height: 4rem;
    line-height: 4rem;
    border-bottom: 1px solid rgb(128, 128, 128, .5);
}

.box3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
    box-sizing: border-box;
    width: 100%;
}

.box4 {
    width: 100%;
}

.box4 img {
    width: 2rem;
    float: left;
}

.box5 {
    font-size: 1.4rem;
    float: left;
    margin-left: 1.5rem;
}

.box6 {
    padding: 2rem 0;
    width: 100%;
}

.box6 p {
    text-align: center;
    font-size: 1.4rem;
    line-height: 2rem;
}