* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(128, 128, 128, .1);
}

a {
    text-decoration: none;
}

/* 头部 */
header {
    width: 100%;
    height: 5rem;
    background-color: #ff8a00;
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
}

header .box {
    width: 30%;
    height: 100%;
}

.box img {
    width: 100%;
}

.box2 {
    height: 100%;
}

.box2 img {
    width: 100%;
    height: 100%;
}

.box1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* 首页 */
.pl {
    padding: 1.5rem 2rem;
    box-sizing: border-box;
    font-size: 1.4rem;
    background-color: white;
    border-bottom: .1rem solid rgb(128, 128, 128, .2);
}

.pl a {
    text-decoration: none;
    color: black;
}

.pl span {
    color: black;
    font-weight: 600;
}

/* banner */
.ok {
    padding: 1.5rem 2rem;
    position: relative;
}

.ok input {
    height: 4rem;
    width: 100%;
}

.ok span {
    position: absolute;
    top: 2.7rem;
    right: 7.5rem;
}

.ok a {
    position: absolute;
    top: 2.6rem;
    right: 3.7rem;
}

.ok a img {
    width: 2rem;
}

/* table切换*/

.list {
    list-style: none;
    display: flex;
    font-size: 1.6rem;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: space-around;
    border-top: .1rem solid rgb(131, 131, 131, .5);
    border-bottom: .1rem solid rgb(131, 131, 131, .5);
}

.list li {
    position: relative;
}

.list li h2 span {
    border-top: 5px solid #ccc;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    top: 1rem;
    right: -1.5rem;
}

.list a {
    color: grey;
}

/* 隐藏的部分*/
.yincang {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    display: none;

    background-color: rgba(58, 58, 58, 0.4);

}

.somlist {
    width: 100%;
    list-style: none;
    display: flex;
    font-size: 1.6rem;
    padding: 1rem;
    background-color: white;
    box-sizing: border-box;
    justify-content: space-around;
    border-top: .1rem solid rgb(131, 131, 131, .5);
    /* border-bottom: .1rem solid rgb(131, 131, 131, .5); */
}


.somlist li {
    position: relative;
}

.somlist .active h2 a {
    color: #ff8a00;
}

.somlist li h2 span {
    border-top: 5px solid #b5b4b4;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    top: 1rem;
    right: -1.5rem;
}


/* 点击后三角的样式 */
.somlist .active h2 span {
    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #ff8a00;
    border-left: 5px solid transparent;
    position: absolute;
    top: 0rem;
    right: -1.5rem;

}

.bianhuan {
    color: #ff8a00 !important;
}

.somlist a {
    color: grey;
}

/* 第一个 */
.suoyou {
    list-style: none;
}

/* .suoyou .ggt {} */

.lione {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.lionezuo {
    width: 30%;
    /* padding: 2rem; */
    background-color: rgb(240, 240, 240);
    /* border-right: .1rem solid rgb(128, 128, 128, .2); */
}

.lionezuo h2 {
    width: 100%;
    height: 4rem;
    text-align: center;
    font-size: 2.4rem;


}

.lionezuo h2:nth-of-type(1) {
    color: #ff8a00;
    width: 100%;
    background-color: white;
}

.lionezuo h2:nth-of-type(2) {
    /* color: #ff8a00; */
    width: 100%;
}

.lioneyou {
    width: 60%;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background-color: white;
}

.lioneyou ul {
    list-style: none;
}

.lioneyou ul li {
    font-size: 1.4rem;
    height: 4rem;
}

.lioneyou ul li a {
    color: gray;
}

/* 第二个 */
.litwo {
    background-color: white;
    padding: 0 2rem;
    box-sizing: border-box;
    display: none;
}

.litwo ul {
    list-style: none;
    padding: 0 1rem;
}

.litwo ul li {
    height: 4rem;
    line-height: 4rem;
    border-bottom: .1rem solid grey;
}

.litwo ul li:nth-of-type(7) {
    border-bottom: none;
}

.litwo ul li a {
    color: rgb(39, 38, 38);
    font-size: 1.4rem;

}

/* 第三个 */
.lithree {
    background-color: white;
    padding: 0 2rem;
    box-sizing: border-box;
    display: none;
}

.lithree ul {
    list-style: none;
    padding: 0 1rem;
    padding-bottom: 2rem;
}

.lithree ul li {
    height: 4rem;
    line-height: 4rem;
    font-size: 1.4rem;
    border-bottom: .1rem solid grey;
}

.lithree ul li span {
    width: 1.8rem;
    height: 1.8rem;
    float: right;
    margin-top: 1rem;
    margin-right: 1.5rem;
    border: .1rem solid black;
}

.lithree ul li .zhengfang {
    background: url(../../image/SecondHandList/ok.png) no-repeat;
    background-size: contain;
}

.lithree ul li:nth-of-type(6) {
    border-bottom: none;
}

.lithree ul li:nth-of-type(7) {
    border-bottom: none;
}

.lithree ul li:nth-of-type(7) {
    background-color: #ff8a00;
    text-align: center;
}


.lithree ul li .btnOK {
    color: white;
    font-size: 1.6rem;
    background-color: #ff8a00;
    width: 100%;

}

/* 第四 */
.lifours {
    background-color: white;
    padding: 0 2rem;
    box-sizing: border-box;
    display: none;
}

.lifours .hj {
    list-style: none;
    padding: 0 1rem;



}

.lifours .hj ul {
    list-style: none;
}

.lifours .hj .jj {
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    border-bottom: .1rem solid gray;
}

.lifours ul li .childList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.childList li {
    margin-top: 1rem;
    padding: .5rem 3rem;
    border: .1rem solid gray;
}

.qingkong {
    text-align: center;
}

.qingkong p {
    padding: 1.5rem;
}

.qingkong p:nth-of-type(2) {
    background-color: #ff8a00;
}

.qingkong p:nth-of-type(2) a {
    color: white;
}


.qingkong a {
    font-size: 1.4rem;
    color: gray;
}


/* 详情 */
.jizhong {
    padding: 0 2rem;
    box-sizing: border-box;
}

.jizhong ul {
    list-style: none;

}

.jizhong ul li {
    display: flex;
    padding: 2rem 0;
    justify-content: space-between;
    border-bottom: .1rem solid #ff8a00;
}

.jizhong .jizongzuo img {
    width: 10rem;
    height: 10rem;
}

.jizhong .jizongzuo {
    width: 40%;
}

.jizhogyou {
    width: 60%;
}

.jizhogyou h2 {
    margin-bottom: 2rem;
}

.jizhogyou .gongruan {
    margin-top: 1rem;
    font-size: 1.4rem;
}

.jizhogyou p {
    font-size: 1.4rem;
    line-height: 2.5rem;
}

.jizhogyou .gongruan span:nth-of-type(1) {
    float: left;
    color: green;
    padding: .2rem 1rem;
    border: .1rem solid green;
}

.jizhogyou .gongruan span:nth-of-type(2) {
    float: right;
    color: #ff8a00;
    font-weight: 660;
}

/* 底部 */
footer {
    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
    background-color: rgb(47, 49, 48);
    color: gray;
}

footer h2 {
    font-size: 1.6rem;
    height: 4rem;
    line-height: 4rem;
    border-bottom: 1px solid rgb(128, 128, 128, .5);
}

.box3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
    box-sizing: border-box;
    width: 100%;
}

.box4 {
    width: 100%;
}

.box4 img {
    width: 2rem;
    float: left;
}

.box5 {
    font-size: 1.4rem;
    float: left;
    margin-left: 1.5rem;
}

.box6 {
    padding: 2rem 0;
    width: 100%;
}

.box6 p {
    text-align: center;
    font-size: 1.4rem;
    line-height: 2rem;
}